<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="BMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="BMS.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="AppName" value="Business Managment System"/>
		<add key="EnableLogging" value="true"/>
		<add key="AESKey" value="Rw5qaf346qSxN/OnVCpbCZ33gttU95zkH7L3c/lisrY="/>
		<add key="AESIV" value="HgxJXbH/FcFrEVphEIcShQ=="/>
	</appSettings>
	<connectionStrings>
		<add name="BMSConnectionString"
             connectionString="Server=db22882.public.databaseasp.net; Database=db22882; User Id=db22882; Password=pW=72sA@bM-6; Encrypt=True; TrustServerCertificate=True; MultipleActiveResultSets=True;"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
 <userSettings>
  <BMS.Properties.Settings>
   <setting name="IsMaximized" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MenuOrder" serializeAs="String">
    <value />
   </setting>
  </BMS.Properties.Settings>
  <BMS.UI.Properties.Settings>
   <setting name="IsMaximized" serializeAs="String">
    <value>True</value>
   </setting>
  </BMS.UI.Properties.Settings>
 </userSettings>
</configuration>